@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Gowun+Dodum&family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dokdo&family=Gowun+Dodum&family=Song+Myung&display=swap");
@font-face {
  font-family: "Bungee";
  src: url("./fonts/Bungee.ttf");
}
@font-face {
  font-family: "SongMyung";
  src: url("./fonts/SongMyung.ttf");
}
@font-face {
  font-family: "Dokdo";
  src: url("./fonts/Dokdo.ttf");
}
@font-face {
  font-family: "Dodum";
  src: url("./fonts/Dodum.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@layer components {
  .fade-in {
    @apply opacity-0 transition-opacity duration-500;
  }
  .fade-out {
    @apply opacity-100 transition-opacity duration-500;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
